button {
  margin: 5px;
  padding: 5px 0;
  font-weight: bolder;
  font-size: 1.5 rem;
}

h1,
h2,
h3,
p {
  color: rgba(255, 255, 255, 0.774);
}

table {
  margin: auto;
  padding: 20px;
  border-radius: 10%;
}

th,
td {
  border: 1px solid black;
}

th,
td {
  background-color: darkgoldenrod;
  box-shadow: black 3px 3px 3px;
  padding: 10px;
}

.input__data {
  cursor: pointer;
}

input {
  margin: 0 5px;
}

label {
  color: white;
}

form {
  text-align: left;
}

i {
  position: relative;
  top: 10px;
  margin: 0 5px;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;

}

@media (max-width: 700px) {
  .standards-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  button {
    margin: 10px 0;
  }

  button:hover {
    transform: scale(0.9);
  }
}
