*{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

body {
  background: rgb(0,1,36);
  background: linear-gradient(90deg, rgba(0,1,36,1) 0%, rgba(16,9,121,1) 35%, rgba(0,212,255,1) 100%); 
  display: flex;
  justify-content: center;
}